[Unit]
Description=Button deployment
After=network.target

[Service]
Type=oneshot
User=button
EnvironmentFile=/home/button/button.env
ExecStart=/home/button/button/scripts/deploy.sh --env button
StandardOutput=journal
StandardError=journal
