[Unit]
Description=Testbutton deployment timer

[Timer]
OnBootSec=1min
OnUnitInactiveSec=1min
Unit=testbutton-deploy.service

[Install]
WantedBy=timers.target
