[Unit]
Description=Testbutton deployment
After=network.target

[Service]
Type=oneshot
User=testbutton
EnvironmentFile=/home/testbutton/button.env
ExecStart=/home/testbutton/button/scripts/deploy.sh --env testbutton
StandardOutput=journal
StandardError=journal
