body, html {
  scroll-snap-type: y mandatory;
  background-color: #121444;
}

.snapChild {
  scroll-snap-align: start;
}

.vh-90 {
  height: 90vh;
}

.welcome h1 {
  font-size: 35vw;
}

.count h1 {
  font-size: 35vw;
}
